.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

venv/
env/
.venv/

*.h5
*.pt
*.pth
*.onnx
*.ckpt

.vscode/
.idea/
*.swp
*.swo

*.zip
*.rar
*.7z
*.xz
*.tar
*.gz

data/* 
!data/.gitkeep
*.toml

