ultralytics
torch
torchvision
numpy
opencv-python-headless
pillow
fastapi
uvicorn
pydantic
pyyaml
tqdm
matplotlib
pandas
torchmetrics
python-multipart
prometheus-client
prometheus-fastapi-instrumentator
albumentations
onnxruntime
